.Categories {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Title {
  font-size: 16px;
}

.Items {
  display: flex;
  gap: 5px;
  span {
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
  }
}

.Selected {
  color: #fff;
  background-color: #1247a5 ;
  border-color: #1247a5!important;
}