.Panel {
  background-color: #27272a;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  margin: auto;
}

.Learn {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  gap: 20px
}

.PanelWrapper {
  left: 0;
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
}

.Word {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Translation {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media only screen and (max-width: 991px) {
  .Learn {
    height: calc(100vh - 300px);
    font-size: 30px;
  }
}