.Panel {
  background-color: #27272a;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  margin: auto;
}

.Learn {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  gap: 20px
}

.PanelWrapper {
  left: 0;
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
}

.Word {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.Translation {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.Blured {
  color: transparent;
  text-shadow: 0 0 25px rgb(255 255 255 / 50%);
}

.Categoryes {
  display: flex;
  gap: 5px;
}

.Selector {
  min-width: 150px;
}

@media only screen and (max-width: 991px) {
  .Learn {
    height: calc(100vh - 300px);
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .Learn {
    height: calc(100vh - 300px);
    font-size: 24px;
  }
}