.MainText {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 50px;

  span {
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    a {
      color: #3660ac;
    }
  }
}

@media only screen and (max-width: 991px) {
  .MainText {
    font-size: 25px;
  }
}

@media only screen and (max-width: 765px) {
  .MainText {
    font-size: 18px;
  }
}