.MainText {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  font-size: 50px;

  span {
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    a {
      color: #3660ac;
    }
  }
}