.Content {
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }
}

.Head {
  color: #3660ac;
}



.Button {
  min-width: initial;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Categorys {
  margin-bottom: 10px;

  > div {
    padding: 0;
  }
}

.Category {
  div {
    font-size: 12px;
    color: #949494;
    line-height: initial;
  }
}

.TableItem {
  position: relative;
  background-color: #18181b;
  border-radius: 5px;


  &Wrapper {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
  }

  &Bottom {
    background-color: #151517;
    display: flex;
    gap: 5px;
    padding: 3px;
    align-items: center;
    opacity: 0.6;
    position: relative;
  }
}

.TableDate {
  font-size: 14px;
}

.TableHead {
  background-color: #18181b;
  border-radius: 5px;
  width: 100%;

  > div {
    padding: 10px 20px;
    font-size: 12px;
  }

  &Wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    > Button {
      display: none;
    }
  }
}

.Pluses {
  font-size: 12px;
  display: flex;
  gap: 8px;
  span {
    gap: 3px;
    display: flex;
    align-items: center;
  }
}

.TableGrid {
  display: grid;
  cursor: pointer;
  grid-template-columns: 60px 1fr 1fr 100px;

  > div {
    padding: 10px 20px;
    position: relative;
  }
}

.Actions {
  display: flex;
  justify-content: flex-end;

  > button {
    min-width: initial;
  }
}

@media only screen and (max-width: 561px) {
  .TableItem {

    > div:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    > div:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 4;
      text-align: right;
    }
  }
}