.Content {
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }
}

.Head {
  color: #3660ac;
}


.Panel {

  background-color: #27272a;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  margin: auto;
}

.PanelWrapper {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 50px;
  display: flex;
}

.Button {
  min-width: initial;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Categorys {
  margin-bottom: 10px;

  > div {
    padding: 0;
  }
}

.Category {
  div {
    font-size: 12px;
    color: #949494;
    line-height: initial;
  }
}

.TableItem {
  position: relative;
}

.TableHead {
  background-color: #18181b;
  border-radius: 5px;

  > div {
    padding: 10px 20px;
    font-size: 12px;
  }
}

.Pluses {
  position: absolute;
  right: 0;
  color: #333;
  top: 0;
  font-size: 12px;
}

.TableGrid {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 1fr 150px 200px;

  > div {
    padding: 10px 20px;
    position: relative;
  }
}

.Actions {
  display: flex;
  justify-content: flex-end;

  > button {
    min-width: initial;
  }
}

@media only screen and (max-width: 991px) {
  .TableHead {
    display: none;
  }
  .TableItem {
    background-color: #18181b;
    border-radius: 5px;
    margin-bottom: 5px;
    grid-template-columns: 1fr 1fr 80px;
    padding-bottom: 30px;
  }

  .TableGrid {

    > div {
      text-align: center;
      gap: 10px;
    }
  }

  .Actions {
    display: flex;
    flex-direction: column;


  }

  .Status {
    position: absolute!important;
    left: 0;
    bottom: 0;
  }

  .Cats {
    position: absolute!important;
    right: 0px;
    bottom: 0;
  }
}