.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h1 {
    margin-bottom: 20px;
  }
}

.Head {
  color: #3660ac;
}


.Panel {

  background-color: #27272a;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  margin: auto;
}

.PanelWrapper {
  width: 100%;
  left: 0;
  position: fixed;
  bottom: 50px;
  display: flex;
}

.Button {
  min-width: initial;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Categorys {
  display: flex;
  gap: 15px;

  > div {
    padding: 0;
  }
}

.Category {
  div {
    font-size: 12px;
    color: #949494;
    line-height: initial;
  }
}

.Bottom {
  margin: 20px 0 50px;
  display: flex;
  gap: 30px;
  justify-content: center;

  label {
    width: 125px;
  }
}

.Swiper {
  display: flex;
}

.SymbolWrapper {
  display: flex;
  width: initial!important;
}

.Symbol {
  cursor: pointer;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.SymbolActive {
  background-color: #9353d3!important;
}

.Panel {
  background-color: #27272a;
  padding: 5px;
  border-radius: 14px;
  display: flex;
  gap: 5px;
  margin: auto;

  &Wrapper {
    width: 100%;
    left: 0;
    position: fixed;
    bottom: 100px;
    display: flex;
    transition: 0.3s;

    &Bottom {
      bottom: 200px;
    }
  }
}

.SortItem {
  margin-left: 10px;
  cursor: pointer;
  &Active {
    color: #9353d3;
    padding-right: 15px;
    position: relative;

    &:after {
      content: "";
      width: 13px;
      height: 13px;
      position: absolute;
      right: 0;
      top: 2px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' fill='none' focusable='false' height='1em' role='presentation' stroke='%239353d3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' viewBox='0 0 24 24' width='1em'%3E%3Cpath d='m6 9 6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  &Desc {
    &:after {
      transform: rotate(180deg);
      right: -3px;
      top: 4px;
    }
  }
}

.Table {
}



.Content {
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }
}

.Head {
  color: #3660ac;
}



.Button {
  min-width: initial;
}

.Buttons {
  display: flex;
  align-items: center;
}

.Categorys {
  margin-bottom: 10px;

  > div {
    padding: 0;
  }
}

.Category {
  div {
    font-size: 12px;
    color: #949494;
    line-height: initial;
  }
}

.TableItem {
  position: relative;
  background-color: #18181b;
  border-radius: 5px;


  &Wrapper {
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
  }

  &Bottom {
    background-color: #151517;
    display: flex;
    gap: 5px;
    padding: 3px;
    align-items: center;
    opacity: 0.6;
    position: relative;
  }
}


.TableDate {
  font-size: 14px;
}

.TableHead {
  background-color: #18181b;
  border-radius: 5px;
  width: 100%;

  > div {
    padding: 10px 20px;
    font-size: 12px;
  }

  &Wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    > Button {
      display: none;
    }
  }
}

.Pluses {
  font-size: 12px;
  display: flex;
  gap: 8px;
  span {
    gap: 3px;
    display: flex;
    align-items: center;
  }
}

.TableGrid {
  display: grid;
  cursor: pointer;
  grid-template-columns: 60px 1fr 1fr 100px;

  > div {
    padding: 10px 20px;
    position: relative;
  }
}

.Actions {
  display: flex;
  justify-content: flex-end;

  > button {
    min-width: initial;
  }
}

@media only screen and (max-width: 561px) {
  .TableItem {

    > div:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 5;
    }
    > div:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 765px) {
  .Actions {
    bottom: -38px;
    right: 0;
    position: absolute !important;
    z-index: 1;
  }

  .TableGrid {
    grid-template-columns: 40px 1fr 1fr 80px;
    > div {
      padding: 5px 10px;
    }
  }

  .Bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}