@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.fade-enter {
    opacity: 0;
    transform: translateY(-30px);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 500ms ease, transform 500ms ease;
}


.fade-up-enter {
    opacity: 0;
    transform: translateY(30px);
}

.fade-up-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 500ms ease, transform 500ms ease;
}
